body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: slategrey;
    text-align: center;
}

header h1{
    font-family: 'Sacramento', cursive;
    text-align: center;
}

.size_length_example{
    width: 67.5em; /* M */
    height: 5em;
    background-color: slategrey;
}

nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav a{
    display: block;
    color: black; /* TODO Fix Colors */
    text-decoration: none;
    border: 1px solid black;
    padding: 2em;
    text-align: center;
}
